
<!DOCTYPE html>
<html lang="en" html xmlns:th="http: //www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Product List - F_Shop</title>
        <!-- Favicon-->
        <link href="View/Public/css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->

    </head>
    <body>
        <%@include file="../component/Navbar.jsp" %>
        <!-- Section-->

        <div class="container mt-5">
            <div class="row g-5 mt-1">
                <!-- Sider -->
                <div class="col-md-3">
                    <div class="position-sticky" style="top: 5rem;">
                        <form class="d-flex mb-3" action="ProductList" method="GET">
                            <input type="search" name="service" value="search" hidden>
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword" value="${requestScope.keyword}">
                            <input type="search" name="cateID" value="${requestScope.cateId}" hidden>
                            <input type="search" name="orderBy" value="0" hidden>
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <div class="mb-3">
                            <h4>Category</h4>
                            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-1 justify-content-center">
                                <c:forEach items="${requestScope.cate}" var="category">
                                    <div class = "col">
                                        <a href="ProductList?service=search&cateID=${category.getSettingID()}&orderBy=0&keyword=${requestScope.keyword}">${category.getName()} </a>               
                                    </div>
                                </c:forEach>  
                            </div>
                        </div>
                        <div class="mb-3">                           
                            <h4>Last Product</h4>
                            <c:forEach items="${requestScope.latestProduct}" var="p">
                                <div class="col mb-5">
                                    <div class="card h-70 w-70">
                                        <!-- Product image-->
                                        <div class="card-header bg-transparent border-bottom-0 h-50">
                                            <c:if test="${p.thumbnail != null}">
                                                <img class="card-img-top h-100" src="View/Img/${p.thumbnail}" alt="..." />
                                            </c:if>
                                            <c:if test="${p.thumbnail == null}">
                                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            </c:if>
                                        </div>

                                        <!-- Product details-->
                                        <div class="card-body mt-5">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">${p.title}</h5>
                                                <div class="d-flex justify-content-center">
                                                    <p class="text-decoration-line-through"> ${p.price}$</p> 
                                                    <p class="ms-3">
                                                        <fmt:formatNumber value = "${p.price*((100 - (p.discount))/100)}" type = "number"/>$
                                                    </p>
                                                </div>
                                                <p><i class="bi bi-eye ms-3">${p.view}</i></p>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer border-top-0 bg-transparent">
                                            <a class="btn btn-outline-dark mt-auto me-2" href="ProductDetail?pid=${p.productID}">View Details</a>
                                            <a class="btn btn-outline-dark mt-auto" href="#"><i class="bi-cart-fill me-1"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </c:forEach>
                        </div>

                    </div>
                </div>

                <div class="col-md-9">
                    <div class="py-2">
                        <form action="ProductList" method="get">
                            <input type="search" name="service" value="search" hidden>
                            <div class="orderBy d-flex col-md-4">
                                <select name="orderBy" class="form-select me-2">
                                    <option <c:if test="${requestScope.orderBy == 0}">selected</c:if> value="0">Sort descending by view</option>
                                    <option <c:if test="${requestScope.orderBy == 1}">selected</c:if> value="1">Sort descending by update time</option>
                                    <option <c:if test="${requestScope.orderBy == 2}">selected</c:if> value="2">Sort ascending by update time</option>
                                    <option <c:if test="${requestScope.orderBy == 3}">selected</c:if> value="3">Sort descending by price</option>
                                    <option <c:if test="${requestScope.orderBy == 4}">selected</c:if> value="4">Sort ascending by price</option>
                                    </select>
                                    <input type="search" value="${requestScope.cateID}" name="cateID" hidden>
                                <input type="search" value="${requestScope.keyword}" name="keyword" hidden>
                                <input class="btn btn-primary btn-sm" type="submit" value="submit">
                            </div>
                        </form>
                    </div>
                    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
                        <c:forEach items="${requestScope.products}" var="p">
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <div class="card-header bg-transparent border-bottom-0 h-50">
                                        <c:if test="${p.thumbnail != null}">
                                            <img class="card-img-top h-100" src="View/Img/${p.thumbnail}" alt="..." />
                                        </c:if>
                                        <c:if test="${p.thumbnail == null}">
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                        </c:if>
                                    </div>

                                    <!-- Product details-->
                                    <div class="card-body mt-5">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">${p.title}</h5>
                                            <div class="d-flex justify-content-center">
                                                <p class="text-decoration-line-through"> ${p.price}$</p> 
                                                <p class="ms-3">
                                                    <fmt:formatNumber value = "${p.price*((100 - (p.discount))/100)}" type = "number"/>$
                                                </p>
                                            </div>
                                            <p><i class="bi bi-eye ms-3">${p.view}</i></p>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer border-top-0 bg-transparent">
                                        <a class="btn btn-outline-dark mt-auto me-2" href="ProductDetail?pid=${p.productID}">View Details</a>
                                        <a class="btn btn-outline-dark mt-auto" href="#"><i class="bi-cart-fill me-1"></i>Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </c:forEach>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="ProductList?service=search&keyword=${requestScope.keyword}&orderBy=${requestScope.orderBy}&page=${requestScope.page-1}&cateID=${requestScope.cateID}">Previous</a></li>
                                <c:if test="${requestScope.page == 1}">
                                    <c:forEach var="i" begin="${requestScope.page}" end="${requestScope.page+2}">
                                    <li class="page-item"><a class="page-link" href="ProductList?service=search&keyword=${requestScope.keyword}&orderBy=${requestScope.orderBy}&page=${i}&cateID=${requestScope.cateID}">${i}</a></li>
                                    </c:forEach>
                                </c:if>
                                <c:if test="${requestScope.page != 1  && requestScope.page < (requestScope.totalPage - 1)}" >
                                    <c:forEach var="i" begin="${requestScope.page}" end="${requestScope.page+2}">
                                    <li class="page-item"><a class="page-link" href="ProductList?service=search&keyword=${requestScope.keyword}&orderBy=${requestScope.orderBy}&page=${i-1}&cateID=${requestScope.cateID}">${i-1}</a></li>
                                    </c:forEach>
                                </c:if>
                            <li class="page-item"><a class="page-link">...</a></li> 
                            <li class="page-item"><a class="page-link" href="ProductList?service=search&keyword=${requestScope.keyword}&orderBy=${requestScope.orderBy}&page=${requestScope.totalPage}&cateID=${requestScope.cateID}">${requestScope.totalPage}</a></li>
                            <li class="page-item"><a class="page-link" 
                                                     href="ProductList?service=search&keyword=${requestScope.keyword}&orderBy=${requestScope.orderBy}&page=${requestScope.page+1}&cateID=${requestScope.cateID}">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <%@include file="../component/Footer.jsp" %>
    </body>
</html>
